body {
  -webkit-font-smoothing: antialiased;
  --bg: white;
  background-color: var(--bg);

  --textNormal: #222;
  --bodyCol: #222;
  --headerCol: #222;
  --textLink: #2293a7;
  --mobDD: black;
  --logo: black;
  --icons: black;
  --gridLine: #bebebe;
}

hr {
  border-bottom: 1px solid var(--textLink);
  opacity: 0.2;
  height: 0;
}

blockquote {
  color: var(--textNormal);
  font-size: inherit;
}

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #121212;
  background-color: var(--bg);

  --textNormal: rgba(255, 255, 255, 0.88);
  --bodyCol: rgb(184, 184, 184);
  --headerCol: white;
  --textLink: #2293a7;

  --mobDD: white;
  --logo: white;
  --icons: white;
  --gridLine: #eeeeee6c;
}

/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

::selection {
  background: #2293a7; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #2293a7; /* Gecko Browsers */
  color: white;
}

a {
  color: var(--textLink);
  position: relative;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

a:hover {
  color: var(--logo);
  right: 0;
  text-decoration: none;
}

a:hover:after {
  border-color: var(--textLink);
  right: 0;
}

a:after {
  content: "";
  position: absolute;
  right: 100%;

  left: 0;
}

a:hover:after {
  border-color: var(--textLink);
}

.gridLine {
  stroke-width: 1;
  opacity: 1;
  stroke: var(--gridLine) !important;
}

.tickLine {
  stroke: var(--gridLine) !important;
}

.tickLabel {
  fill: var(--logo) !important;
}

.gatsby-resp-image-background-image {
  width: 100%;
  height: 100%;
  margin: 0;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
